@import './AlarmButton/Alarmbutton';
@import './SearchButton/SearchButton';
@import './UserSettingButton/UserSettingButton';
@import './ViewModeButton/ViewModeButton';

.ts-right-navbar {
  float: right;
  display: flex;

  height: 100%;

  button {
    display: block;
    padding: 0px 10px 0px 10px;

    background-color: transparent;

    &.ts-alert-emer {
      color: #e91e63;
    }
  }

  i {
    padding: 2px;
    font-size: 16px;
  }
}

.ts-nav-divider {
  border: solid 0.5px #ecebeb;
  margin: 8.5px 10px 7.5px 10px;
}
