@import './AlarmButton/Alarmbutton';
@import './SearchButton/SearchButton';
@import './UserSettingButton/UserSettingButton';
@import './ViewModeButton/ViewModeButton';

.ts-right-navbar {
  float: right;
  display: flex;

  height: 100%;

  // test only
  background-color: darkorange;
}
