@import '../../sass/layout/page';
@import './variables';

.ts-container {
  @extend .main-view;
}

.main-container {
  height: calc(100% - #{$navbar-height});
  overflow: auto;

  position: relative;
  display: flex;
}
.ts-ng-view {
  position: relative;
  overflow: auto;

  height: calc(100% - #{$ts-toolbar-height});
}

.ts-main-view {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: auto;
}

.login-page {
  ts-left-sidebar,
  ts-navbar,
  ts-right-sidebar,
  ts-bottombar {
    display: none;
  }

  .main-container {
    height: 100%;
  }
}

.view-mode--tv,
.view-mode--kiosk {
  .main-container {
    height: 100%;
  }
}
