$test-layer-margin: 1px;

$navbar-height: 36px;
$right-side-tab-height: 36px;
$right-side-tabbar-height: 139px;

$bottom-width: 520px;
$bottom-height: 301px;

$bottom-lv1-circle-height: 320px;
$bottom-lv1-circle-width: 320px;

$bottom-circle-width: 520px;
$bottom-circle-height: 520px;

$bottom-center-layer-width: 128px;
$bottom-center-layer-height: 128px;

$bottom-center-button-width: 56px;
$bottom-center-button-height: 56px;

$navbar-logo-width: 36px;
$navbar-logo-height: 36px;
$navbar-logo-padding: 6px;
