$test-layer-margin: 1px;

$navbar-height: 36px;
$right-side-tab-height: 36px;
$right-side-tabbar-height: 139px;

$bottom-width: 520px;
$bottom-height: 301px;

$bottom-lv1-height: 201px;
$bottom-lv1-width: 320px;
