<div class="modal-body">
        <div class="gf-form-inline">         
            <div class="gf-form">
                <span class="gf-form-label width-10">ADDRESS</span>
                <input class="gf-form-input width-30" ng-model="model.modbusAddress" type="text">
            </div>
            <div class="gf-form">
                <span class="gf-form-label width-10">FC</span>
                <input class="gf-form-input width-30" ng-model="model.modbusFC" type="text">
            </div>
            <div class="gf-form">
                <span class="gf-form-label width-10">Quantity</span>
                <input class="gf-form-input width-30" ng-model="model.modbusQuantity" type="text">
            </div>
            <div class="gf-form">
                <span class="gf-form-label width-10">Type</span>
                <input class="gf-form-input width-30" ng-model="model.modbusType" type="text">
            </div>  
                <button type="button" class="btn btn-success" ng-click="model.editOrder()">수정</button>
                <button type="button" class="btn btn-danger" ng-click="model.deleteOrder()">삭제</button>
               
                <div class="clearfix"></div> 
        </div>
</div>