@import "../../../../../../../node_modules/tabulator-tables/dist/css/bootstrap/tabulator_bootstrap.min.css";


.modbus-conn-editor {
    //padding: 28px 20px 0 20px;
    background-color: #ffffff;
}
.modbus-edit-box1 {
    margin-left: 8.2%;
    margin-right: 8.14%;
    display: inline-flex;
}
.modbus-edit-box {
    margin-left: 8.2%;
    margin-right: 8.14%;
}
.modbus-content-first-box{
    margin-left: 19.5px;
}
.modbus-content-middle-box{
    margin-left: auto;
    margin-right: auto;
}
.modbus-content-last-box{
    margin-left: auto;
    margin-right: 21.5px;
}
//top title
.modbus-title-top {
    margin-left: 1.54%;
    margin-top: 4.2%;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    display:inline-block;
}

//main border line
#main-view {
    margin-top: 21px; //2%
    width: 97%;
    border: solid 1px #ecebeb;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 28px;
}

// TOP RIGHT BUTTON
.modbus-right-button-area {
    margin-right: 1.47%;
    margin-top: 2.68%;
    display:block;
    float: right;
}
#modbus-save-btn {
    width: 80px;
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #1e88e5;
    color:#ffffff;
}
#modbus-cancel-btn {
    width: 80px;
    height: 36px;
    margin-right: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #6a6a6a;
    color:#ffffff;
}
#modbus-addr-add-btn {
    //margin-left: 67.09%; //919
    margin-top: 5%;
    float: right;
    width: 104.1px;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #1e88e5;
    color:#ffffff;
}

//main view contents attribute
.modbus-title-conn {
    margin-top:31px;
    //width: 8.05%; //106
    height: 17px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    display:inline-block;
}
.modbus-title-conn-add {
    margin-left:8.43%;
    margin-top:4.83%; //45
    //width: 106px;
    height: 17px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    display:inline-block;
}
.modbus-title-error {
    margin-top:31px;
    //width: 8.05%; //106
    height: 17px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #d81b60;
    background-color: #ffffff;
    display:inline-block;

}
.modbus-error-comment {
    margin-top: 16.5px;
    margin-left: 20px;
    display: block;
    color: #1e1e1e;
}
#modbus-error-icon-bg {
    color: #d81b60;
    background-color: #ffffff;
    font-size: 19px;
}
.modbus-title-addr-list {
    //margin-left:8.43%;
    margin-top:6.12%; //57
    //width: 106px;
    height: 17px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    display:inline-block;
}
.modbus-conn-section-line {
    height: 0;
    border: solid 1px #ecebeb;
    margin-top: 1.7%;//16.5
    margin-left: 8.2%;
    margin-right: 8.14%;
    align-content: center;
}
.modbus-conn-section-line2 {
    height: 0;
    border: solid 1px #ecebeb;
    margin-top: 1.7%;//16.5
    //margin-left: 8.2%;
    //margin-right: 8.14%;
    align-content: center;
}

.modbus-subtitle {
    display:inline-block;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.modbus-edit-bg {
    display:inline-block;
    background-color: rgb(235,235,235);
}

.modbus-name-bg {
    width: 23.48%; //308
    height: 3.86%;
    display:inline-block;
    background-color: rgb(235,235,235);
}
.modbus-host-bg {
    width: 17.55%; //231
    height: 3.86%;
    display:inline-block;
    background-color: rgb(235,235,235);
}
.modbus-port-bg {
    width: 17.7%; //233
    height: 3.86%;
    display:inline-block;
    background-color: rgb(235,235,235);
}

  .modbus-unitid-bg {
    width: 6.53%; //86
    height: 36px;
    display:inline-block;
    background-color: rgb(235,235,235);
  }
  .modbus-timeout-bg {
    width: 11.39%;//150
    height: 36px;
    display:inline-block;
    background-color: rgb(235,235,235);
  }
  .modbus-reconnect-bg {
    width: 14.43%;//190
    height: 36px;
    display:inline-block;
    background-color: rgb(235,235,235);
  }
  .modbus-interval-bg {
    width: 14.58%; //192
    height: 36px;
    display:inline-block;
    background-color: rgb(235,235,235);
  }
#modbus-edit {
    //width: 83px;
    //height: 17px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    background:rgba(0,0,0,0);
}

.modbus-conn-sub-info {
    width: 106px;
    height: 17px;
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

//collector
#modbus-collector {
    margin-left:1.48%; //131px
    margin-top:26.5px;
}
#modbus-collector-name-position {
    margin-left:16px;
    width:23.4%;//308
    //width:100%;//308
    height: 3.86%; // 36

}
#modbus-collector-host-position {
    margin-left:16px;
    width: 17.55%;//231
    height: 3.86%; // 36
  
}
#modbus-collector-port-position {
    margin-left:16px;
    width:17.7%;//233
    height: 3.86%; // 36
  
}

#modbus-host {
    margin-left:4.25%;
    margin-top:26.5px;
}
#modbus-port {
    margin-left:4.25%;
    margin-top:26.5px;
}

#modbus-unit-id {
    margin-left:1.48%; 
    margin-top:26.5px;
    //width: 48px;
}
#modbus-unit-id-pos{
    margin-left:1.21%; //16
    height: 3.86%; //36
}

#modbus-time-out {
    margin-left:2.73%; //36
    margin-top:26.5px; 
    //width: 4.25%;
    width: 56px;
}
#modbus-time-out-pos{
    margin-left:1.21%;
    height: 3.86%; //36
}

#modbus-Reconnect {
    margin-left:2.73%;
    margin-top:26.5px;
    //width: 5.39%;
    width: 71px;
}
#modbus-Reconnect-pos{
    margin-left:1.21%;
    height: 3.86%; //36
}

#modbus-Intervals {
    margin-left:2.73%;
    margin-top:26.5px;
    //width: 6.76%;
    width: 100px;
}
#modbus-Intervals-pos{
    margin-left:1.21%;
    //margin-right: 10.03%;
    height: 3.86%; //36
}

//table
.modbus-table-size {
    margin-left: 8.43%;
    margin-right: 8.43%;
    margin-top: 1.58%;
    width: 83.13%;
}
#modbus-addressTable{
    background-color:#ccc;
}
/*Theme the header*/
#modbus-addressTable .tabulator-header {
    background-color: #ecebeb;
    color:#1e1e1e;
    border: solid 0px #dcdbdc;
}

.tabulator {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    font-size: 14px;
    text-align: left;
    transform: translatez(0);
}

.tabulator .tabulator-tableHolder {
    background-color: #FFFFFF;
    min-height: 0px;
}
/*Allow column header names to wrap lines*/
#modbus-addressTable .tabulator-header .tabulator-col,
#modbus-addressTable .tabulator-header .tabulator-col-row-handle {
    background-color: #ecebeb;
}
/*Color the table rows*/
#modbus-addressTable .tabulator-tableHolder .tabulator-table .tabulator-row{
    color:#1e1e1e;
    background-color: #fff;
}
/*Color even rows*/
#modbus-addressTable .tabulator-tableHolder .tabulator-table .tabulator-row:nth-child(even) {
    background-color: #fff;
}
#modbus-addressTable .tabulator .tabulator-footer{
    background-color: #fff;
}
#modbus-addressTable .tabulator .tabulator-tableHolder{
    background-color: #fff;
}
.tabulator .tabulator-footer {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

//modbus add edit

.modbus-address-add-view {
    margin-left: 8.43%; //111px
    margin-right: 8.43%;
    margin-top: 1.71%;//16px
    //margin-bottom: 38.66%; //360px
    margin-bottom: 16px; //360px
    width: 83.13%; //194
    height: 14.7%; //137
    border: solid 1px #ecebeb;
}
.modbus-address-add-edit {
    margin-bottom: 2.14%;//20px
}
.modbus-title-address {
    margin-left: 1.82%; //20
    margin-top: 3.3%; //31
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    display:inline-block;
}
.modbus-address-add-section-line {
    height: 0;
    border: solid 1px #ecebeb;
    margin-top: 1.7%;//16.5
    margin-left: 1.82%; //20
    margin-right: 1.82%;
    align-content: center;
}

// TOP RIGHT BUTTON
.modbus-address-btn-pos{
    margin-right: 19.9px;
    margin-top: 1.82%;
    float: right;
}
#modbus-address-cancel-btn {
    margin-right: 16px;
    //margin-left: 65.9%; //721
    width: 80px;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #6a6a6a;
    color:#ffffff;
}
#modbus-address-add-btn {
    width: 130.1px;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #1e88e5;
    color:#ffffff;
}

//--
#modbus-add-edit-name {
    margin-left: 1.82%; //20
    margin-top: 1.82%;
}
#modbus-add-edit-name-pos {
    width: 8.35%;
    margin-left:16px;
}

#modbus-add-edit-address {
    margin-left: 3.29%; //36
    margin-top: 1.82%;
}
#modbu-add-edit-address-pos {
    margin-left:16px;
}

#modbus-add-edit-FC {
    margin-left: 3.29%; //36
    margin-top: 1.82%;
}
#modbu-add-edit-FC-pos {
    margin-left:16px;
}

#modbus-add-edit-quantity {
    margin-left: 3.29%; //36
    margin-top: 1.82%;
}
#modbu-add-edit-quantity-pos {
    margin-left:16px;
}

#modbus-add-edit-datatype {
    margin-left: 3.29%; //36
    margin-top: 1.82%;
}
#modbu-add-edit-datatype-pos {
    margin-left:16px;
}

#modbus-FC-combobox{
    width:177px;
    //height:180px;
    opacity: 1;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    background:rgba(0,0,0,0);
}
#modbus-type-combobox{
    width:108px;
    //height:90px;//180
    opacity: 1;
    background-color: rgba(0,0,0,0);
    font-size: 14px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    background:rgba(0,0,0,0);
}

//conneection test
.modbus-conn-test-buttons {
    margin-top:20px;
    //margin-right: 8.43%;
    float: right;
    button {
        color: #6a6a6a;
        background-color: #ecebeb;
        padding: 5px 5px 5px 5px;
        //width: 28px;
        //height: 28px;   
        &.green {
            //width: 28px;
            //height: 28px;
            color: #ffffff;
            background-color: #1e88e5;
        }
        &.red {
            //width: 28px;
            //height: 28px;
            color: #ffffff;
            background-color: #d81b60;
        }
        &.yellow {
            //width: 28px;
            //height: 28px;
            color: #ffffff;
            background-color: #f1ee09;
        }

        i {
            font-size: 20px;
            padding-right: 0px;
        }
    }
}
#modbus-conn-btn {
    font-size: 19px;
}

.modbus-table-edit-button {
    //background-color: #ecebeb;
    color:#ffffff;
}
.modbus-banner-buttons {
    margin-left: auto;

    .ts-btn-cancel {
        background-color: #6a6a6a;
    }

    .ts-btn-save {
        background-color: #1e88e5;
    }
}

.modbus-edit-header-banner {
    margin-right: 8.14%;
    margin-left: 8.2%;
}

.modbus-ts-connect-table-container {
    margin-top: 1.58%;
    //margin-top: 44.6px;
    margin-left: 8.2%;
    margin-right: 8.14%;
    color: #1e1e1e;

    button {
        border: 0;
        background-color: rgba(#000,0);
    }

    .modbus-connect-table-header {
        opacity: 0.6;
    }

    .modbus-connect-page-rows {
        display: inline-block;

        .modbus-connect-table-select {
            width: 100%;

            border: 0;
        }
    }

    .modbus-connect-table-body {
        width: 100%;
        margin: 8px 0;

        table {
            width: 100%;

            tr {
                border-bottom: solid 1px #dcdbdc;

                &:first {
                    margin-left: 16px;
                }
            }

            th {
                padding: 7px 0;
            }

            td {
                padding: 12px 0;

                color: rgba(#1e1e1e, 0.8);
                button {
                    font-size: 20px;
                }
            }

            .modbus-ts-table-row {
                &:hover {
                    background-color: #e3f2fd;
                }

                .connect { 
                    font-size: 20px;
                }
            }

            .modbus-ts-table-header {
                background-color: #ecebeb;
            }
        }
    }

    .modbus-connect-table-footer {
        width: 100%;
        display: inline-flex;

        .modbus-table-page-range {
            opacity: 0.6;
        }

        .modbus-table-paging {
            margin-left: auto;
            display: inline-block;
        }

        button {
            opacity: 0.3;

            &.blue {
                opacity: 1;
            }
        }
    }
}