ts-site-list {
    width: 100%;
    height: 100%;

    font-family: Roboto;
    color: #1e1e1e;

    .group-title {
        background-color: #687074 !important;
        color: #FFF !important;
    }

    .ts-site-list {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .ts-border-line {
        width: 100%;
        height: 0;
        border: solid 1px #ecebeb;
        margin-top: 20px;
    }

    .ts-border-line-bottom {
        width: 100%;
        height: 0;
        border: solid 1px #ecebeb;
        margin-top: 17.5px;
    }
    
    .title-img {
        vertical-align: top;
        display: inline-block;
        margin-top: 18px;
    }
    .ts-site-main-title {
        margin-left: 8px;
        margin-top: 18px;
        display: inline-block;
        opacity: 0.8;
        font-family: Roboto;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #0039ff;
    }
    
    #site-add-btn {
        float: right;
        width: 88px;
        height: 36px;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        background-color: #0039ff;
        color: #ffffff;
    }

    #site-add-plus-btn {
        width: 80px;
        height: 36px;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        background-color: #0039ff;
        color:#ffffff;
    }

    #site-cancel-btn {
        width: 80px;
        height: 36px;
        margin-right:16px;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
        background-color: #6a6a6a;
        color:#ffffff;
    }

    .site-content-line {
        margin-top:20px;
        height: 0;
        border: solid 1px #ecebeb;
    }

    .ts-site-input-area {
        margin-top: 21px;
        margin-bottom: 20px;
        height: 213px;
        border: solid 1px #dcdbdc;
        background-color: #ffffff;
    }

    .ts-site-input-title {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .ts-site-table-container {
        margin-top: 21.5px;
        margin-bottom: 28px;
        color: #1e1e1e;
        button {
            border: 0;
            background-color: rgba(#000,0);
        }
        .connect-table-header {
            height: 15px;
            font-size: 12px;
            opacity: 0.6;
        }
        .connect-page-rows {
            display: inline-block;
            .connect-table-select {
                font-size: 12px;
                height:16px;
                width: 100%;
                border: 0;
            }
        }
        .connect-table-body {
            width: 100%;
            margin: 8px 0;
            table {
                width: 100%;
                tr {
                    border-bottom: solid 1px #dcdbdc;
                    &:first {
                        margin-left: 16px;
                    }
                }
                th {
                    font-size:12px;
                    height: 28px;
                    padding: 4px 0 5px 0;
                    padding-left: 16px;
                }
                td {
                    font-size:14px;
                    padding-left: 16px;
                    color: rgba(#1e1e1e, 0.8);
                    button {
                        font-size: 20px;
                    }
                }
                .ts-table-row {
                    &:hover {
                        background-color: #e3f2fd;
                    }
                    .connect { 
                        font-size: 20px;
                    }
                }
                .ts-site-id {
                    font-size: 14px;
                    width: fit-content;
                    padding: 5px 16px 5px 16px;
                    border-radius: 4px;
                    border: solid 1px #0039ff;
                    color: #0039ff;
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
                .th-site-id {
                    width:16.86%
                }
                .th-site-name {
                    width:25.30%
                }
                .th-site-desc {
                    width:42.17%
                }
                .ts-table-header {
                    background-color: #ecebeb;
                }
                .selected {
                    background-color: #e3f2fd;
                }
                .btn-padding {
                    font-size: 17.5px;
                    padding: 4px 4px 4px 4px;
                }
                .btn-padding-margin {
                    margin-left: 20px;
                    font-size: 17.5px;
                    padding: 4px 4px 4px 4px;
                }                
            }
        }
        .connect-table-footer {
            width: 100%;
            display: inline-flex;
            .table-page-range {
                font-size: 12px;
                opacity: 0.6;
            }
            .table-paging {
                margin-left: auto;
                display: inline-block;
            }
            button {
                opacity: 0.3;
                &.blue {
                    opacity: 1;
                }
            }
        }
    }    
}

.ts-site-right-button-area {
    display:block;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

ts-site-table {
    background-color: #0039ff;
}

.ts-site-input-group {
    margin-top: 30px;
    display: inline-flex;

    &.name {
        width: 38%;
    }
    &.desc {
        margin-left: 4.25%;
        width: 56.3%;
    }
    .ts-site-input-label-name {
        margin-left: 20px;
        margin-top:10px;
        width: 64px;
        display: flex;
        align-items: left;
    }
    .ts-site-input-label-desc {
        margin-top:10px;
        width:59px;
        display: flex;
        align-items: left;
    }
    .ts-input {
        margin-left: 16px;
        display: inline-block;
        width: 100%;
        &>:first-child {
            width: 100%;
            height: 36px;
            border-radius: 4px;
            padding-left: 8px;
            background-color: rgba(#1e1e1e, 0.07);
            &:focus + .separator {
                opacity: 1;
                height: 2px;
                background: #0039ff;
                transform: scaleX(1) translateY(-2px);
            }
        }
        .separator {
            display: block;
            opacity: 0;
            width: 100%;
            background: rgba(#1e1e1e, 0.3);
            transform: scaleX(0) translateY(-2px);
            transform-origin: 50%;
            transition: all .15s linear;
            &.enable {
                opacity: 1;
                height: 1px;
                transform: scaleX(1) translateY(-2px);
            }
        }
    }
}