<div class="ts-site-list">
    <img class="title-img" src="public/img/thingspin/titleicon.svg" />
    <div class="ts-site-main-title">
        사이트 목록
    </div>
    <button id="site-add-btn" className="btn" ng-click="ctrl.onShowEditView(true)" ng-show="ctrl.isAddSiteBtn">
        사이트 추가
    </button>
    <div class="ts-site-input-area" ng-show="ctrl.isEditView">
        <div class="ts-site-input-title">
            사이트 추가
        </div>
        <div class="site-content-line"></div>
        <div class="ts-site-input-group name">
            <div class="ts-site-input-label-name">사이트 명</div>
            <div class="ts-input">
                <input id="site-name" type="text" ng-model="ctrl.name"/>
                <span ng-class="{separator: true, enable: ctrl.name}"></span>
            </div>
        </div>
        <div class="ts-site-input-group desc">
            <div class="ts-site-input-label-desc">설명</div>
            <div class="ts-input">
                <input type="text" ng-model="ctrl.desc"/>
                <span ng-class="{separator: true, enable: ctrl.desc}"></span>
            </div>
        </div>
        <div class="ts-site-right-button-area">
            <button id="site-cancel-btn" class="btn" ng-click="ctrl.onShowEditView(false)">
                취소
            </button>
            <button id="site-add-plus-btn" class="btn" ng-click="ctrl.onSiteAdd()">
                저장
            </button>
        </div>
    </div>
    <div class="ts-site-table-container site-table-size" ng-show="ctrl.isListView">
        <div class="connect-table-header">
            <span>페이지당 행수 : </span>
            <span class="connect-page-rows">
                <select class="connect-table-select" ng-model="ctrl.tData.rowCount" 
                    ng-options="n as n for n in ctrl.tData.selectOpts"
                    ng-change="ctrl.tOnSelectChange()"
                >
                </select>
            </span>
        </div>

        <div class="connect-table-body">
            <table>
            <thead>
                <tr class="ts-table-header">
                    <th class="th-site-id">사이트 ID</th>
                    <th class="th-site-name">사이트 명</th>
                    <th class="th-site-desc">설명</th>
                    <th>동작</th>
                </tr>
            </thead>

            <tbody>
                <tr id='table-tr-{{$index}}' class="ts-table-row" ng-repeat="item in ctrl.tData.pageNode track by $index">
                    <td>
                        <div class="ts-site-id">
                            {{ item.titleid }}
                        </div>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.desc }}</td>
                    <td>
                        <button class="btn btn-padding" ng-click="ctrl.tableClick(item.id, $index)">
                            <i class="tsi icon-ts-tagtree"></i>
                        </button>
                        <button class="btn btn-padding-margin" ng-click="ctrl.editSite(item)">
                            <i class="tsi icon-ts-create"></i>
                        </button>
                        <button class="btn btn-padding-margin" ng-click="ctrl.removeSite(item.id)">
                            <i class="tsi icon-ts-delete"></i>
                        </button>                            
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="connect-table-footer">
            <div class="table-page-range">
                <span>페이지 범위 : {{ ctrl.tData.currPage * ctrl.tData.rowCount + 1 }} - {{ (ctrl.tData.currPage * ctrl.tData.rowCount) + ctrl.tData.rowCount }} / 전체 : {{ctrl.list.length}}</span>
            </div>
            <div class="table-paging">
                <button ng-click="ctrl.tPrevPaging()"><i class="tsi icon-ts-chevron_left"></i></button>
                <button ng-click="ctrl.tSetPaging(page)" 
                    class="{{page === ctrl.tData.currPage ? 'blue' : ''}}"
                    ng-repeat="page in ctrl.tGetPagingNumberArray() track by $index">
                    <span >{{ page + 1}}</span>
                </button>
                <button ng-click="ctrl.tNextPaging()"><i class="tsi icon-ts-chevron_right"></i></button>
            </div>
        </div>
    </div> 
</div>