<div class="ts-tag-define" (window:resize)="onResize($event)"> 
    <img class="title-img" src="public/img/thingspin/ts-title-circle.svg" />
    <div class="ts-define-main-title">
        설비 모델링
    </div>
    <div id="ts-define-right-button-area" ng-show="ctrl.isEditBtn">
        <button id="define-cancel-btn" className="btn" ng-click="ctrl.backtosite()">
            이전
        </button>  
        <button id="define-add-plus-btn" className="btn" ng-click="ctrl.onShowEditView(true)">
            설비 추가
        </button>
    </div>
    <div class="ts-site-input-area" ng-show="ctrl.isEditView">
        <div class="ts-site-input-title">
            설비 추가
        </div>
        <div class="site-content-line"></div>
        <div class="ts-site-input-group name">
            <div class="ts-site-input-label-name">설비 명</div>
            <div class="ts-input">
                <input id="facility-name" type="text" ng-model="ctrl.facility.name"/>
                <span ng-class="{separator: true, enable: ctrl.facility.name}"></span>
            </div>
        </div>
        <div class="ts-site-input-group desc">
            <div class="ts-site-input-label-desc">설 명</div>
            <div class="ts-input">
                <input type="text" ng-model="ctrl.facility.desc"/>
                <span ng-class="{separator: true, enable: ctrl.facility.desc}"></span>
            </div>
        </div>
        <div class="ts-define-right-button-area">
            <button id="define-cancel-btn" class="btn" ng-click="ctrl.onShowEditView(false)">
                취소
            </button>
            <button id="define-add-plus-btn" class="btn" ng-click="ctrl.onFacilityAdd()">
                저장
            </button>
        </div>
    </div>
    <div class="tree-title-view-area">
        <div class="ts-define-tree-title-area">
            <span id="ts-tag-define-title-left-content" class="ts-define-tree-left-title">
                <div id="ts-define-tree-title-left" class="ts-define-tree-title">
                    연결 모델
                </div>
                <div id="title-info-right-view" class="title-info-right-view">
                    <div class="opcua-info-view">
                        <span class="tst icon-ts-opcua"></span>
                        <span class="info-text-color">
                            OPC UA
                        </span>
                    </div>
                    <div class="mqtt-info-view">
                        <span class="tst icon-ts-mqtt"></span>
                        <span class="info-text-color">
                            MQTT
                        </span>
                    </div>
                    <div class="modbus-info-view">
                        <span class="tst icon-ts-modbus"></span>
                        <span class="info-text-color">
                            Modbus
                        </span>
                    </div>
                </div>                
            </span>
            <div class="ts-define-tree-title-right ts-define-tree-right-title">
                설비 모델
            </div>
        </div>
    </div>
    <div class="ts-define-tree-title-line">
        <div class="ts-define-tree-left-line"></div>        
        <div class="ts-define-tree-right-line"></div>
    </div>
    <div class="tree-view-area">
        <div class="section gf-form-group" id="tree-left-view">
            <!--Level 1 starting point-->
            <div ui-tree="ctrl.options" data-clone-enabled="true" data-nodrop-enabled="true" id="tree1-root">
                    <ol ui-tree-nodes ng-model="ctrl.source">
                        <li ng-repeat="pnode in ctrl.source" ui-tree-node>
                            <div class="left-tree-title-content">
                                <a data-nodrag ng-click="ctrl.toggle(this)" class="left-tree-item-arrow">
                                    <span ng-class="{
                                        'tsi icon-ts-arrow_drop_up': collapsed,
                                        'tsi icon-ts-manuarrow-drop-down': !collapsed
                                        }">
                                    </span>
                                </a>
                                <i ng-if="pnode.label === 'mqtt'" class="title-icon-root-content-mqtt tsi icon-ts-mqtt"></i>
                                <i ng-if="pnode.label === 'opcua'" class="title-icon-root-content-opcua tsi icon-ts-opcua"></i>
                                <i ng-if="pnode.label === 'modbus'" class="title-icon-root-content-modbus tsi icon-ts-modbus"></i>
                                <div class="left-title-text-content">{{pnode.facility_name}}</div>
                            </div>
                            
                            <ol ui-tree-nodes="tree-nodes-padding" ng-model="pnode.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                                <li ng-repeat="pnode in pnode.children" ui-tree-node>
                                    <div class="left-tree-three-title-content" ui-tree-handle>
                                            <!--
                                        <input data-drag-enabled type="checkbox" ng-click="ctrl.checked(pnode3)" ng-checked="pnode3.ischecked" />
                                        -->
                                        <i class="left-tree-three-item-arrow tsi icon-ts-tag"></i>
                                        <div ng-if="pnode.isValid" class="left-three-title-text-content">
                                            {{pnode.tag_name}}
                                        </div>
                                        <div ng-if="!pnode.isValid" class="left-three-historic-title-text-content">
                                            {{pnode.tag_name}}
                                        </div>
                                    </div>
                                
                                    <!--
                                    <ol ui-tree-nodes="" ng-model="pnode3.children" ng-class="{hidden: collapsed}">
                                        <li ng-repeat="pnode4 in pnode3.children" ui-tree-node>
                                            <div ui-tree-handle class="tree-node tree-node-content">
                                                <div>
                                                    <a>{{pnode4.text}}</a>
                                                </div>
                                            </div>
                                        
                                            <ol ui-tree-nodes="" ng-model="pnode4.children" ng-class="{hidden: collapsed}">
                                                <li ng-repeat="pnode5 in pnode4.children" ui-tree-node>
                                                    <div ui-tree-handle class="tree-node tree-node-content">
                                                        <div>
                                                            <a>{{pnode5.text}}</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                    -->
                                </li>
                            </ol>        
                            <!--Level 2 starting point-->
                            <!-- <ol ui-tree-nodes ng-model="pnode.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                                <li ng-repeat="pnode in pnode.children" ui-tree-node> 
                                    <div class="left-tree-title-content">
                                        <a data-nodrag ng-click="ctrl.toggle(this)" class="left-tree-second-item-arrow">
                                            <span ng-class="{
                                                'tsi icon-ts-arrow_drop_up': collapsed,
                                                'tsi icon-ts-manuarrow-drop-down': !collapsed
                                                }">
                                            </span>
                                        </a>
                                        <i class="left-title-icon-content tsi icon-ts-equipment"></i>
                                        <div class="left-title-text-content">{{pnode.tag_name}}</div>
                                    </div>
                                </li>
                            </ol> -->
                        </li>
                    </ol>
            </div>                        
        </div>
        <div class="section gf-form-group" id="tree-right-view">
            <!--Level 1 starting point-->
            <div ui-tree="ctrl.options" id="tree2-root">
                <ol ui-tree-nodes="" ng-model="ctrl.dataList">
                    <li ng-repeat="node in ctrl.dataList" ui-tree-node>
                        <div ng-if="node.tag_id === 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-item-content">
                            <a data-nodrag ng-click="ctrl.toggle(this)" class="right-tree-item-arrow">
                                <span ng-class="{
                                    'tsi icon-ts-arrow_drop_up': collapsed,
                                    'tsi icon-ts-manuarrow-drop-down': !collapsed
                                    }">
                                </span>
                            </a>
                            <a><i ng-class="{
                                'tsi icon-ts-equipment2': collapsed,
                                'tsi icon-ts-equipment': !collapsed
                                }" class="left-title-icon-content"></i></a>
                            <a ng-if="node.isEditing === false" class="right-content-facility-text">{{node.facility_name}}</a>
                            <div ng-if="node.isEditing === true" class="ts-tree-input-group name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                <div class="ts-input">
                                    <input id="first-facility-edit" data-nodrag type="text" ng-model="node.facility_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node) " ng-blur="ctrl.checkEvents($event, node)"/>
                                    <span ng-class="{separator: true, enable: node.facility_name}"></span>
                                </div>
                            </div>
                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'first-facility-edit')" id="ts-edit-show" class="edit-icon-view">
                                <span class="tsi icon-ts-create"></span>
                            </a>
                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-delete">
                                <span class="tsi icon-ts-delete"></span>
                            </a>
                        </div>
                        <div ng-if="node.tag_id !== 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-tag-item-content">
                            <a><i class="right-tag-content tsi icon-ts-tag"></i></a>
                            <a ng-if="node.isEditing === false" class="right-content-tag-text">{{node.tag_name}}</a>
                            <div ng-if="node.isEditing === true" class="ts-tree-child-input-group name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                <div class="ts-input">
                                    <input id="first-tag-edit" data-nodrag type="text" ng-model="node.tag_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                    <span ng-class="{separator: true, enable: node.tag_name}"></span>
                                </div>
                            </div>
                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'first-tag-edit')" id="ts-edit-show" class="edit-icon-child-view">
                                <span class="tsi icon-ts-create"></span>
                            </a>
                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-child-delete">
                                <span class="tsi icon-ts-delete"></span>
                            </a>
                        </div>

                        <!--Level 2 starting point-->
                        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                            <li ng-repeat="node in node.children" ui-tree-node>
                                <div ng-if="node.tag_id === 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-item-content">
                                    <a data-nodrag ng-click="ctrl.toggle(this)" class="right-tree-item-arrow">
                                        <span ng-class="{
                                                'tsi icon-ts-arrow_drop_up': collapsed,
                                                'tsi icon-ts-manuarrow-drop-down': !collapsed
                                            }">
                                        </span>
                                    </a>
                                    <a><i ng-class="{
                                        'tsi icon-ts-equipment2': collapsed,
                                        'tsi icon-ts-equipment': !collapsed
                                        }" class="left-title-icon-content tsi icon-ts-equipment"></i></a>
                                    <a ng-if="node.isEditing === false" class="right-content-facility-text">{{node.facility_name}}</a>
                                    <div ng-if="node.isEditing === true" class="ts-tree-input-group three-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                        <div class="ts-input">
                                            <input id="second-facility-edit" data-nodrag type="text" ng-model="node.facility_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                            <span ng-class="{separator: true, enable: node.facility_name}"></span>
                                        </div>
                                    </div>
                                    <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'second-facility-edit')" id="ts-edit-show" class="edit-icon-view">
                                        <span class="tsi icon-ts-create"></span>
                                    </a>
                                    <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-delete">
                                        <span class="tsi icon-ts-delete"></span>
                                    </a>
                                </div>
                                <div ng-if="node.tag_id !== 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-tag-item-content">
                                    <a><i class="right-tag-content tsi icon-ts-tag"></i></a>
                                    <a ng-if="node.isEditing === false" class="right-content-tag-text">{{node.tag_name}}</a>
                                    <div ng-if="node.isEditing === true" class="ts-tree-child-input-group name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                        <div class="ts-input">
                                            <input id="second-tag-edit" data-nodrag type="text" ng-model="node.tag_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                            <span ng-class="{separator: true, enable: node.tag_name}"></span>
                                        </div>
                                    </div>
                                    <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'second-tag-edit')" id="ts-edit-show" class="edit-icon-child-view">
                                        <span class="tsi icon-ts-create"></span>
                                    </a>
                                    <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-child-delete">
                                        <span class="tsi icon-ts-delete"></span>
                                    </a>                                    
                                </div>
                                <!--Level 3 starting point-->
                                <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                                    <li ng-repeat="node in node.children" ui-tree-node>
                                        <div ng-if="node.tag_id === 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-item-content">
                                            <a data-nodrag ng-click="ctrl.toggle(this)" class="right-tree-item-arrow">
                                                <span ng-class="{
                                                    'tsi icon-ts-arrow_drop_up': collapsed,
                                                    'tsi icon-ts-manuarrow-drop-down': !collapsed
                                                }">
                                                </span>
                                            </a>
                                            <a><i ng-class="{
                                                'tsi icon-ts-equipment2': collapsed,
                                                'tsi icon-ts-equipment': !collapsed
                                                }" class="left-title-icon-content tsi icon-ts-equipment"></i></a>
                                            <a ng-if="node.isEditing === false" class="right-content-facility-text">{{node.facility_name}}</a>
                                            <div ng-if="node.isEditing === true" class="ts-tree-input-group three-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                <div class="ts-input">
                                                    <input id="three-facility-edit" data-nodrag type="text" ng-model="node.facility_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                    <span ng-class="{separator: true, enable: node.facility_name}"></span>
                                                </div>
                                            </div>
                                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'three-facility-edit')" class="edit-icon-view" id="ts-edit-show">
                                                <span class="tsi icon-ts-create"></span>
                                            </a>
                                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-delete">
                                                <span class="tsi icon-ts-delete"></span>
                                            </a>
                                        </div>
                                        <div ng-if="node.tag_id !== 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-tag-item-content">
                                            <a><i class="right-tag-content tsi icon-ts-tag"></i></a>
                                            <a ng-if="node.isEditing === false" class="right-content-tag-text">{{node.tag_name}}</a>
                                            <div ng-if="node.isEditing === true" class="ts-tree-child-input-group three-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                <div class="ts-input">
                                                    <input id="three-tag-edit" data-nodrag type="text" ng-model="node.tag_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                    <span ng-class="{separator: true, enable: node.tag_name}"></span>
                                                </div>
                                            </div>
                                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'three-tag-edit')" class="edit-icon-child-view" id="ts-edit-show">
                                                <span class="tsi icon-ts-create"></span>
                                            </a>
                                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-child-delete">
                                                <span class="tsi icon-ts-delete"></span>
                                            </a>
                                        </div>
                                        <!--Level 4 starting point-->
                                        <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                                            <li ng-repeat="node in node.children" ui-tree-node>
                                                <div ng-if="node.tag_id === 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-item-content">
                                                    <a data-nodrag ng-click="ctrl.toggle(this)" class="right-tree-item-arrow">
                                                        <span ng-class="{
                                                            'tsi icon-ts-arrow_drop_up': collapsed,
                                                            'tsi icon-ts-manuarrow-drop-down': !collapsed
                                                        }">
                                                        </span>
                                                    </a>
                                                    <a><i ng-class="{
                                                        'tsi icon-ts-equipment2': collapsed,
                                                        'tsi icon-ts-equipment': !collapsed
                                                        }" class="left-title-icon-content tsi icon-ts-equipment"></i></a>
                                                    <a ng-if="node.isEditing === false" class="right-content-facility-text">{{node.facility_name}}</a>
                                                    <div ng-if="node.isEditing === true" class="ts-tree-input-group three-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                        <div class="ts-input">
                                                            <input id="four-facility-edit" data-nodrag type="text" ng-model="node.facility_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                            <span ng-class="{separator: true, enable: node.facility_name}"></span>
                                                        </div>
                                                    </div>
                                                    <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'four-facility-edit')" class="edit-icon-view" id="ts-edit-show">
                                                        <span class="tsi icon-ts-create"></span>
                                                    </a>
                                                    <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-delete">
                                                        <span class="tsi icon-ts-delete"></span>
                                                    </a>
                                                </div>
                                                <div ng-if="node.tag_id !== 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-tag-item-content">
                                                    <a><i class="right-tag-content tsi icon-ts-tag"></i></a>
                                                    <a ng-if="node.isEditing === false" class="right-content-tag-text">{{node.tag_name}}</a>
                                                    <div ng-if="node.isEditing === true" class="ts-tree-child-input-group three-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                        <div class="ts-input">
                                                            <input id="four-tag-edit" data-nodrag type="text" ng-model="node.tag_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                            <span ng-class="{separator: true, enable: node.tag_name}"></span>
                                                        </div>
                                                    </div>
                                                    <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node,'four-tag-edit')" class="edit-icon-child-view" id="ts-edit-show">
                                                        <span class="tsi icon-ts-create"></span>
                                                    </a>
                                                    <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-child-delete">
                                                        <span class="tsi icon-ts-delete"></span>
                                                    </a>
                                                </div>
                                                <!--Level 5 starting point-->
                                                <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}" id="tree-nodes-view">
                                                    <li ng-repeat="node in node.children" ui-tree-node>
                                                        <div ng-if="node.tag_id === 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-item-content">
                                                            <a data-nodrag ng-click="ctrl.toggle(this)" class="right-tree-item-arrow">
                                                                <span ng-class="{
                                                                    'tsi icon-ts-arrow_drop_up': collapsed,
                                                                    'tsi icon-ts-manuarrow-drop-down': !collapsed
                                                                }">
                                                                </span>
                                                            </a>
                                                            <a><i ng-class="{
                                                                'tsi icon-ts-equipment2': collapsed,
                                                                'tsi icon-ts-equipment': !collapsed
                                                                }" class="left-title-icon-content tsi icon-ts-equipment"></i></a>
                                                            <a ng-if="node.isEditing === false" class="right-content-facility-text" >{{node.facility_name}}</a>
                                                            <div ng-if="node.isEditing === true" class="ts-tree-input-group five-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                                <div class="ts-input">
                                                                    <input id="five-facility-edit" data-nodrag type="text" ng-model="node.facility_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                                    <span ng-class="{separator: true, enable: node.facility_name}"></span>
                                                                </div>
                                                            </div>
                                                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node,'five-facility-edit')" class="edit-icon-view" id="ts-edit-show">
                                                                <span class="tsi icon-ts-create"></span>
                                                            </a>
                                                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-delete">
                                                                <span class="tsi icon-ts-delete"></span>
                                                            </a>
                                                        </div>
                                                        <div ng-if="node.tag_id !== 0" ui-tree-handle class="tree-node tree-node-content" id="right-tree-tag-item-content">
                                                            <a><i class="right-tag-content tsi icon-ts-tag"></i></a>
                                                            <a ng-if="node.isEditing === false" class="right-content-tag-text">{{node.tag_name}}</a>
                                                            <div ng-if="node.isEditing === true" class="ts-tree-child-input-group five-name" ng-mouseleave="ctrl.mouseHoverOut(node)">
                                                                <div class="ts-input">
                                                                    <input id="five-tag-edit" data-nodrag type="text" ng-model="node.tag_name" ng-keypress="ctrl.onKeyPress($event,node)" ng-keyup="ctrl.checkEvents($event, node)" ng-blur="ctrl.checkEvents($event, node)"/>
                                                                    <span ng-class="{separator: true, enable: node.tag_name}"></span>
                                                                </div>
                                                            </div>
                                                            <a ng-if="node.isEditing === false" data-nodrag ng-click="ctrl.onEditInit(node, 'five-tag-edit')" class="edit-icon-child-view" id="ts-edit-show">
                                                                <span class="tsi icon-ts-create"></span>
                                                            </a>
                                                            <a ng-if="node.isEditing === false && node.children.length === 0" data-nodrag ng-click="ctrl.removeElement(this, node)" id="ts-edit-show" class="right-node-child-delete">
                                                                <span class="tsi icon-ts-delete"></span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>