@font-face {
  font-family: 'tsi';
  src:
    url('/public/app-thingspin-fms/fonts/ts-fonts/tsi.ttf?vpycrf') format('truetype'),
    url('/public/app-thingspin-fms/fonts/ts-fonts/tsi.woff?vpycrf') format('woff'),
    url('/public/app-thingspin-fms/fonts/ts-fonts/tsi.svg?vpycrf#tsi') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-ts-"], [class*=" icon-ts-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tsi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ts-savestatus-off:before {
  content: "\e988";
}
.icon-ts-savestatus-on:before {
  content: "\e989";
}
.icon-ts-occurrence-off:before {
  content: "\e98a";
}
.icon-ts-card:before {
  content: "\e986";
}
.icon-ts-list:before {
  content: "\e987";
}
.icon-ts-occurrence:before {
  content: "\e985";
}
.icon-ts-modbus:before {
  content: "\e951";
}
.icon-ts-mqtt:before {
  content: "\e952";
}
.icon-ts-opcua:before {
  content: "\e953";
}
.icon-ts-pause:before {
  content: "\e954";
}
.icon-ts-play_arrow:before {
  content: "\e955";
}
.icon-ts-tagtree:before {
  content: "\e950";
}
.icon-ts-equipment2:before {
  content: "\e94f";
}
.icon-ts-site:before {
  content: "\e94e";
}
.icon-ts-data:before {
  content: "\e947";
}
.icon-ts-equipment:before {
  content: "\e948";
}
.icon-ts-error1:before {
  content: "\e949";
}
.icon-ts-foresight:before {
  content: "\e94a";
}
.icon-ts-notifications_active:before {
  content: "\e94b";
}
.icon-ts-tag:before {
  content: "\e94c";
}
.icon-ts-warning1:before {
  content: "\e94d";
}
.icon-ts-add_alert:before {
  content: "\e92e";
}
.icon-ts-arrow_drop_up:before {
  content: "\e92f";
}
.icon-ts-ballot:before {
  content: "\e974";
}
.icon-ts-bookmark:before {
  content: "\e931";
}
.icon-ts-create_new_folder:before {
  content: "\e932";
}
.icon-ts-error_outline:before {
  content: "\e933";
}
.icon-ts-error:before {
  content: "\e934";
}
.icon-ts-file_copy:before {
  content: "\e935";
}
.icon-ts-folder_open:before {
  content: "\e936";
}
.icon-ts-new:before {
  content: "\e937";
}
.icon-ts-note_add:before {
  content: "\e938";
}
.icon-ts-notification_important:before {
  content: "\e939";
}
.icon-ts-settings:before {
  content: "\e93a";
}
.icon-ts-star_border:before {
  content: "\e93b";
}
.icon-ts-star:before {
  content: "\e93c";
}
.icon-ts-vertical_split:before {
  content: "\e93d";
}
.icon-ts-view_agenda:before {
  content: "\e93e";
}
.icon-ts-view_array:before {
  content: "\e93f";
}
.icon-ts-view_column:before {
  content: "\e940";
}
.icon-ts-view_headline:before {
  content: "\e975";
}
.icon-ts-view_list:before {
  content: "\e942";
}
.icon-ts-view_module:before {
  content: "\e943";
}
.icon-ts-view_quilt:before {
  content: "\e944";
}
.icon-ts-view_stream:before {
  content: "\e945";
}
.icon-ts-view_week:before {
  content: "\e946";
}
.icon-ts_dispay_mode_1:before {
  content: "\e928";
}
.icon-ts_dispay_mode_2:before {
  content: "\e929";
}
.icon-ts_dispay_mode_3:before {
  content: "\e92a";
}
.icon-ts_dispay_mode_4:before {
  content: "\e92b";
}
.icon-ts_dispay_mode_5:before {
  content: "\e92c";
}
.icon-ts-user-advanced:before {
  content: "\e92d";
}
.icon-ts-check_circle-24px:before {
  content: "\e922";
}
.icon-ts-power:before {
  content: "\e923";
}
.icon-ts_systemloge:before {
  content: "\e924";
}
.icon-ts-add_circle:before {
  content: "\e925";
}
.icon-ts-add:before {
  content: "\e926";
}
.icon-ts-alrm:before {
  content: "\e976";
}
.icon-ts-check_box_outline_blank:before {
  content: "\e930";
}
.icon-ts-check_box:before {
  content: "\e941";
}
.icon-ts-check:before {
  content: "\e956";
}
.icon-ts-chevron_left:before {
  content: "\e957";
}
.icon-ts-chevron_right:before {
  content: "\e958";
}
.icon-ts-close:before {
  content: "\e959";
}
.icon-ts-connection_off:before {
  content: "\e95a";
}
.icon-ts-connection-loding:before {
  content: "\e95b";
}
.icon-ts-create:before {
  content: "\e95c";
}
.icon-ts-delete:before {
  content: "\e95d";
}
.icon-ts-fold:before {
  content: "\e95e";
}
.icon-ts-folder:before {
  content: "\e95f";
}
.icon-ts-foreknowledge:before {
  content: "\e960";
}
.icon-ts-manuanalysis:before {
  content: "\e961";
}
.icon-ts-manuarrow-drop-down:before {
  content: "\e962";
}
.icon-ts-manucreate_new_folder:before {
  content: "\e963";
}
.icon-ts-manudata-management:before {
  content: "\e977";
}
.icon-ts-manudigitaltwin:before {
  content: "\e964";
}
.icon-ts-manuequiment:before {
  content: "\e965";
}
.icon-ts-manulibrary_add:before {
  content: "\e966";
}
.icon-ts-manupin-off:before {
  content: "\e967";
}
.icon-ts-manupin-on:before {
  content: "\e968";
}
.icon-ts-manureplay:before {
  content: "\e969";
}
.icon-ts-manureport:before {
  content: "\e96a";
}
.icon-ts-manuscada:before {
  content: "\e96b";
}
.icon-ts-manusummary:before {
  content: "\e96c";
}
.icon-ts-manusystem:before {
  content: "\e96d";
}
.icon-ts-manutoggle_off:before {
  content: "\e96e";
}
.icon-ts-manutoggle_on:before {
  content: "\e96f";
}
.icon-ts-more_vert:before {
  content: "\e970";
}
.icon-ts-pause_circle_filled:before {
  content: "\e971";
}
.icon-ts-play_circle_filled:before {
  content: "\e972";
}
.icon-ts-rule:before {
  content: "\e973";
}
.icon-ts-warning:before {
  content: "\e927";
}
.icon-delete:before {
  content: "\e978";
}
.icon-create_new_folder:before {
  content: "\e979";
}
.icon-library_add:before {
  content: "\e97a";
}
.icon-replay:before {
  content: "\e97b";
}
.icon-toggle_off:before {
  content: "\e97c";
  color: #d81b60;
}
.icon-toggle_on:before {
  content: "\e97d";
  color: #1e88e5;
}
.icon-ts-alrm-alerting:before {
  content: "\e981";
  color: #d81b60;
}
.icon-ts-alrm-nodata:before {
  content: "\e982";
  color: #fb8002;
}
.icon-ts-alrm-ok:before {
  content: "\e983";
  color: #00897b;
}
.icon-ts-off:before {
  content: "\e984";
}
.icon-baseline-web-24px-01:before {
  content: "\e97e";
}
.icon-baseline-web-24px-04:before {
  content: "\e97f";
}
.icon-baseline-web-24px-05:before {
  content: "\e980";
}
.icon--2216:before {
  content: "\e90d";
}
.icon--2217:before {
  content: "\e90e";
}
.icon-baseline-center_focus_strong-24px:before {
  content: "\e90f";
}
.icon-baseline-check_box_outline_blank-1:before {
  content: "\e910";
}
.icon-baseline-check_box_outline_blank-24px:before {
  content: "\e911";
}
.icon-baseline-check_box-24px:before {
  content: "\e912";
}
.icon-baseline-chevron_left-24px:before {
  content: "\e913";
}
.icon-baseline-chevron_right-24px:before {
  content: "\e914";
}
.icon-baseline-dvr-24px:before {
  content: "\e915";
}
.icon-baseline-format_italic-24px:before {
  content: "\e916";
}
.icon-baseline-fullscreen-24px:before {
  content: "\e917";
}
.icon-baseline-image-24px:before {
  content: "\e918";
}
.icon-baseline-last_page-24px:before {
  content: "\e919";
}
.icon-baseline-more_horiz-24px:before {
  content: "\e91a";
}
.icon-baseline-more_vert-24px:before {
  content: "\e91b";
}
.icon-baseline-panorama_fish_eye-24px:before {
  content: "\e91c";
}
.icon-baseline-person_pin-24px:before {
  content: "\e91d";
}
.icon-baseline-remove-24px:before {
  content: "\e91e";
}
.icon-baseline-subtitles-24px:before {
  content: "\e91f";
}
.icon-baseline-title-24px:before {
  content: "\e920";
}
.icon-ic_search_white:before {
  content: "\e921";
}
.icon-summary:before {
  content: "\e909";
}
.icon-pin-on:before {
  content: "\e900";
}
.icon-pin-off:before {
  content: "\e901";
}
.icon-data-management:before {
  content: "\e902";
}
.icon-analysis:before {
  content: "\e903";
}
.icon-digitaltwin:before {
  content: "\e904";
}
.icon-report:before {
  content: "\e905";
}
.icon-equiment:before {
  content: "\e906";
}
.icon-system:before {
  content: "\e907";
}
.icon-alrm:before {
  content: "\e908";
}
.icon-summery:before {
  content: "\e90c";
}
.icon-arrow-drop-down:before {
  content: "\e90a";
}
.icon-scada:before {
  content: "\e90b";
}
