@import '../../../../base/variables';

.ts-right-side-tabbar-component {
  width: 100%;
  padding: 0 16px;

  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;

  .tsr-title {
    margin-top: 16px;
    color: rgba(34, 44, 49, 0.6);

    font-size: 10px;
    line-height: 1.2;
  }

  .tsr-content {
    display: flex;
    justify-content: space-between;

    margin: 8px 0 16px 0;

    &.tsr-timezone {
      margin: 10px 0 16px 0;
    }
  }

  .tsr-br {
    border-top: solid 1px #ecebeb;
  }

  .ts-btn {
    @extend .btn;

    width: 76.1px;
    height: 36px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-indent: 4.4px;
    padding: 8px 8px 8px 6px;
    margin-right: 16.5px;

    i {
      font-size: 20px;
    }

    &.ts-error {
      background-color: #e91e63;
    }

    &.ts-warn {
      background-color: #ff8d02;
    }
  }

  .ts-date-picker {
    .dp-btn {
      @extend .btn;

      padding: 0;

      font-weight: 500;
      line-height: 1.14;
      text-align: right;
      font-size: 14px;
    }

    .day-shift {
      font-size: 20px;
      padding: 0 2px;
      height: 17px;
    }

    .ts-date {
      padding-right: 10px;
      height: 17px;

      &.active {
        color: #1e88e5;
      }
    }

    .today {
      padding-left: 10px;
      height: 17px;
    }

  }
  
  .ts-calendar {
    position: absolute;
    width: 328.2px;
    box-shadow: linear-gradient(to top, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.86) 97%, #ffffff);

  }

}

.react-calendar button {
  border-radius: 50%;
}