.fms-menu-lv2 {
  // layer size
  //height: 28px;
  font-size: 13px;

  // events
  &:hover {
    //border-left: 4px solid #00b2e3;
    background-color: rgba(0, 0, 0, 0.3);
  }
  background-color: rgba(0, 0, 0, 0.1);
  //margin-left: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
}
