@import '../../../../../base/variables';

.sidemenu-open {
  .ts-icon-logo {
    display: none;
  }
}
.ts-icon-logo {
  background-color: #039be5;
  display: block;

  width: $navbar-logo-width;
  height: $navbar-logo-height;

  padding: $navbar-logo-padding;

  button {
    background-color: transparent;
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
