@import '../../../../../base/variables';

.ts-nav-search-component {
  position: relative;
  line-height: $navbar-height;

  margin-right: 8px;

  font-size: 14px;

  .ts-nav-search-input-form {
    display: inline-flex;

    width: $ts-nav-search-width;
    height: $ts-nav-search-height;

    line-height: $navbar-height;

    background-color: rgba(#1e1e1e, 0.07);
    border-radius: 4px;

    input {
      width: calc(
        #{$ts-nav-search-width} - (#{$ts-nav-search-icon-button-width} + #{$ts-nav-search-icon-button-padding-right})
      );
      height: 100%;

      text-indent: 8px;

      color: #1e1e1e;
      background-color: rgba(#1e1e1e, 0.07);
    }

    button {
      width: calc(#{$ts-nav-search-icon-button-width} + (#{$ts-nav-search-icon-button-padding-right} * 2));
      padding: 0 $ts-nav-search-icon-button-padding-right;
      border: 0;

      background-color: rgba(#1e1e1e, 0.07);

      font-size: 14.6px;
    }
  }
}
