<div class="ts-noti-body">
  <div class="ts-noti-buttons">

      <button class="ts-new-noti-btns-area" ng-click="ctrl.save()" className="btn">
          <span>저장</span>
      </button>
      <button class="ts-new-noti-btns-area" ng-click="ctrl.testNotification()" className="btn">
          <span>테스트</span>
      </button>
      <a href="thingspin/alarm/notification"><button class="ts-new-noti-btns-area" className="btn">
          <span>뒤로가기</span>
      </button></a>
  </div>
  
  <div class="ts-noti-title-area">
      <img src="public/img/thingspin/thingspin_simbol.svg">
      <span class = "ts-noti-title">알림 발송 관리</span>
  </div>
  

  <div class = "ts-noti-form-area">
      <div class="ts-noti-newchannel-title" ng-hide="ctrl.isNew">채널 수정</div>
      <div class="ts-noti-newchannel-title" ng-show="ctrl.isNew">새채널</div>
      <div class="ts-noti-divider"></div>
    <form class = "ts-noti-from-group" name="ctrl.theForm" ng-if="ctrl.notifiers">
        <div class="gf-form-group">
            <div class="gf-form">
              <span class="gf-form-label width-4 ts-noti-form-title">이름</span>
              <input type="text" required class="gf-form-input max-width-16 ts-noti-select" ng-model="ctrl.model.name" required></input>
            </div>
            <div class="gf-form">
              <span class="gf-form-label width-4 ts-noti-form-title">종류</span>
              <div class="gf-form-select-wrapper width-16">
                <select class="ts-noti-select gf-form-input" ng-model="ctrl.model.type" ng-options="t.type as t.name for t in ctrl.notifiers" ng-change="ctrl.typeChanged(notification, $index)">
                </select>
              </div>
            </div>
            <gf-form-switch
                class="ts-noti-switch"
                label="모든 알람 발생시 발송"
                label-class=""
                checked="ctrl.model.isDefault"
                tooltip="Use this notification for all alerts">
            </gf-form-switch>
            <gf-form-switch
                class="ts-noti-switch"
                label="이미지 포함"
                label-class=""
                checked="ctrl.model.settings.uploadImage"
                tooltip="Captures an image and include it in the notification">
            </gf-form-switch>
            <gf-form-switch
                class=""
                label="Resolve 메시지 비활성"
                label-class=""
                checked="ctrl.model.disableResolveMessage"
                tooltip="Disable the resolve message [OK] that is sent when alerting state returns to false">
            </gf-form-switch>
            <gf-form-switch
                class=""
                label="reminders 발송"
                label-class=""
                checked="ctrl.model.sendReminder"
                tooltip="Send additional notifications for triggered alerts">
            </gf-form-switch>
            <div class="gf-form-inline">
              <div class="gf-form" ng-if="ctrl.model.sendReminder">
                <span class="gf-form-label width-12">Send reminder every
                  <info-popover mode="right-normal" position="top center">
                    Specify how often reminders should be sent, e.g. every 30s, 1m, 10m, 30m or 1h etc.
                  </info-popover>
                </span>
                <input type="text" placeholder="Select or specify custom" class="gf-form-input width-15" ng-model="ctrl.model.frequency"
                  bs-typeahead="ctrl.getFrequencySuggestion" data-min-length=0 ng-required="ctrl.model.sendReminder">
              </div>
            </div>
            <div class="gf-form">
                <span class="alert alert-info width-30" ng-if="ctrl.model.sendReminder">
                  Alert reminders are sent after rules are evaluated. Therefore a reminder can never be sent more frequently than a configured alert rule evaluation interval.
                </span>
              </div>
          </div>
    </form>
  </div>
  
  <div class="ts-notification-total-area" ng-include src="ctrl.notifierTemplateId">
  </div>
<!--
  <div class="ts-noti-form-email-form-area">
      <span class="ts-noti-newchannel-title">이메일 주소</span>
      <div class="ts-noti-divider"></div>
      <div class="gf-form">
         <textarea rows="7" class="gf-form-input width-27 ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" required="" ng-model="ctrl.model.settings.addresses"></textarea>
      </div>
      <div class="gf-form">
      <span class="ts-noti-annotaion">";"를 사용하여 여러개의 이메일 주소를 입력할 수 있습니다.</span>
      </div>
  </div>
  -->
</div>

