@import './RightSideTab/RightSideTab';
@import './RightSideTabbar/RightSideTabbar';
@import './RightSideHistory/RightSideHistory';

ts-right-sidebar {
  width: 384px;
  height: 100%;

  overflow: hidden;

  // test
  background-color: olive;
}
