@import './RightSideLog/RightSideLog';
@import './RightSideTabbar/RightSideTabbar';
@import './RightSideHistory/RightSideHistory';
@import './FmsHistoryCard/FmsHistoryCard';

ts-right-sidebar {
  display: none;
  width: 360px;
  min-width: 360px;
  height: 100%;

  overflow: hidden;

  border: solid 1px #ecebeb;
  background-color: white;
}

.rightmenu-open {
  ts-right-sidebar {
    display: block;
  }
}

.view-mode--tv, // mode 1
.view-mode--kiosk {
  // mode 2
  ts-right-sidebar {
    display: none;
  }
}

.fms-tab-header {
  width: 100%;
  display: inline-flex;

  overflow: auto;

  background-color: #dcdbdc;
}

.fms-right-tab {
  width: 128px;
  color: rgba(34, 44, 49, 0.8);
  height: $right-side-tab-height;
  font-size: 14px;
  background-color: rgba(#fff, 0.6);

  &.rtab-active {
    background-color: rgba(#fff, 1);
  }
}

.fms-right-tapitem {
  // layer size
  height: 35px;
  font-size: 14px;
  display: inline-flex;

  width: 100%;
  height: $right-side-tab-height;

  // test
  background-color: #ffffff;
  // events
  // &:hover {
  //   border-left: 4px solid #00b2e3;
  // }
}

.fms-right-tap-alarm {
  width: 88px;
}

.fms-right-tap-systemlog {
  width: 128px;
}



.fms-right-tap-alarm-icon {
  margin-left: 16px;
  margin-top: 8px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
}

.fms-right-tap-alarm-title {
  margin-left: 8px;
  margin-top: 9px;
}
