@import '../../../../base/variables';

.ts-bottom-lv1-component {
  position: absolute;

  width: $bottom-lv1-circle-width;
  height: $bottom-lv1-circle-height;

  // bottom center
  left: calc(50% - (#{$bottom-lv1-circle-width} / 2));
  bottom: calc(50% - (#{$bottom-lv1-circle-height} / 2));

  border-radius: 50%;
  background-color: white;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
}

.ts-bottom-center-layer {
  position: absolute;

  width: $bottom-center-layer-width;
  height: $bottom-center-layer-height;

  // bottom center
  left: calc(50% - (#{$bottom-center-layer-width} / 2));
  top: calc(50% - (#{$bottom-center-layer-height} / 2));

  border-radius: 50%;
  background-image: linear-gradient(to bottom, #2196f3, #1396c5 42%, #009688);
}

.ts-bottom-center-button {
  position: absolute;

  width: $bottom-center-button-width;
  height: $bottom-center-button-width;

  // bottom center
  left: calc(50% - (#{$bottom-center-button-width} / 2));
  top: calc(50% - (#{$bottom-center-button-height} / 2));

  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
}
