@import '../../../base/variables';
@import './LeftNavbar/LeftNavbar';
@import './RightNavbar/RightNavbar';

ts-navbar {
  display: block;
  width: 100%;
  height: 36px;

  padding: 1px;
  background-color: gray;
}
