[[Subject .Subject "Reset your ThingSPIN password - [[.Name]]"]]

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>안녕하세요. [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							<b>[[.EmailCodeValidHours]] hours</b> 안에 비밀번호 초기화를 위해 아래 링크를 클릭해주세요.
						</p>
						<p>
							<a href="[[.AppUrl]]thingspin/user/password/reset?code=[[.Code]]">[[.AppUrl]]thingspin/user/password/reset?code=[[.Code]]</a>
						</p>
						<p>동작하지 않으면 링크 주소를 복사하여 직접 접속해주세요.</p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>

		</td>
	</tr>
</table>


