@import '../../../../base/variables';

.ts-right-side-history-component {
  width: 100%;

  overflow: auto;
  height: calc(100vh - (#{$navbar-height} + #{$right-side-tab-height} + #{$right-side-tabbar-height}));

  // test
  background-color: darkgoldenrod;
  margin: 2px;
}
