.login {
  background-image: url(../img/thingspin/login-background.png) !important;

  & .btn-primary {
    @include buttonBackground(#0066ff, #063ebc);
  }
}

.app-thingspin {
  .logo-wordmark {
    background: url('../img/thingspin/typelogo.svg') top center no-repeat;
    width: 100%;
    height: 70px;
  }
}

.app-enterprise {
  .logo-wordmark {
    background: url('../img/thingspin/typelogo-enterprise.svg') top center no-repeat;
    width: 100%;
    height: 70px;
  }
}

.signup-page-background {
  background-image: url(../img/thingspin/login-background.png) !important;
}

.ts-login-reset-title {
  width: 116px;
  height: 19px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #0039ff;
}


.ts-login-reset-after{

}

.ts-reset{
  .ts-reset-title{
    margin-bottom: 28px;
  }
 
}
.ts-reset-form{
  .gf-form{
    .gf-form-label{
      background:none;
      border:none;

      font-family: Roboto;
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.14;
      letter-spacing: normal;
      
      color: rgba(0, 0, 0, 0.8);
      margin-right: 16px;
    }
    .gf-form-input{
      border:none;
      color: black;
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  .gf-form-button-row{
    float: right;
    margin-top: 28px;
    .ts-reset-button-submit{
      background-color: #0039ff;
      opacity: 1;
      color: #ffffff;
    }
    .ts-reset-button-back{
      background-color: #5a0dff;
      opacity: 1;
      color: #ffffff;
    }
  }
  
}