@import '../../../base/variables';
@import 'TsLogo/TsLogo';
@import 'TsMenu/TsMenu';

ts-left-sidebar {
  display: none;
}

.sidemenu-open {
  ts-left-sidebar {
    display: block;
    // layer size
    width: 200px;
    height: 100%;

    // 삭제 필요...
    background-color: blue;
  }
}

.sidemenu-hidden {
  ts-left-sidebar {
    display: none;
  }
}
