@import '../../../base/variables';
@import 'TsLogo/TsLogo';
@import 'TsMenu/TsMenu';

ts-left-sidebar {
  display: none;
  color: rgba(255, 255, 255, 0.95);
  a {
    color: rgba(255, 255, 255, 0.95);
    &:hover {
      color: rgba(255, 255, 255, 0.95);
    }
  }
}

.sidemenu-open {
  ts-left-sidebar {
    display: block;
    // layer size
    width: 200px;
    height: 100%;
    overflow: hidden;

    // 삭제 필요...
    background-color: #1976d2;

    .fms-menu-dividers {
      &-divider {
        border-top: 1px solid rgba(176, 190, 197, 0.3);
        width: 196px;
        margin-bottom: 0px;
        margin-top: 0px;
      }
    }
    
    .fms-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:flex-start;
      height: calc(100% - 54px);
    }    
  }
}

.sidemenu-hidden {
  ts-left-sidebar {
    display: none;
  }
}
