@import '../../../base/variables';
@import 'TsLogo/TsLogo';
@import 'TsMenu/TsMenu';

ts-left-sidebar {
  display: none;
}

.sidemenu-open {
  ts-left-sidebar {
    display: block;
    // layer size
    width: 200px;
    height: 100%;

    // 삭제 필요...
    background-color: #1976d2;
  }
}

.sidemenu-hidden {
  ts-left-sidebar {
    display: none;
  }
}

.ts-leftsidebar-divider {
  border-top: 1px solid #b0bec5;
  width: 196px;
}
