@import '../../../base/variables';
@import 'TsLogo/TsLogo';
@import 'TsMenu/TsMenu';

ts-left-sidebar {
  display: none;
  color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  a {
    color: rgba(255, 255, 255, 0.95);
    &:hover {
      color: rgba(255, 255, 255, 0.95);
    }
  }
}

.sidemenu-open {
  ts-left-sidebar {
    display: block;
    // layer size
    min-width: 200px;
    height: 100%;

    // 삭제 필요...
    background-color: #0039ff;

    .fms-menu-dividers {
      &-divider {
        border-top: 1px solid rgb(49, 0, 255);
        width: 196px;
        margin-bottom: 16px;
        margin-top: 0px;
      }
    }
    
    .fms-menu-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items:flex-start;
      height: calc(100% - 70px);
      overflow-y: scroll;

      &::-webkit-scrollbar {display:none;}
    }    
  }
}

.sidemenu-hidden {
  ts-left-sidebar {
    display: none;
  }
}
