.ts-user-setting-button-component {
}

.ts-user-setting-menu {
  display: flex;
}

.ts-user-setting-child-menu {
  button {
    padding: 5px;

    font-size: 15px;

    background-color: transparent;
  }
}
