.gicon-branding {
  background-image: url('../img/thingspin/thingspin_icon.png');
}

.gicon-dashboard {
  background-image: url('../img/thingspin/icons_#{$theme-name}_theme/icon_dashboard.svg');
}

.sidemenu {
  .gicon-dashboard {
    background-image: url('../img/thingspin/icons_dark_theme/icon_dashboard.svg');
  }
}

.fms-menu {
  .gicon-dashboard {
    background-image: url('../img/thingspin/icons_dark_theme/icon_dashboard.svg');
  }
  .gicon-alert {
    background-image: url('../img/icons_dark_theme/icon_alert.svg');
  }
  .gicon-cog {
    background-image: url('../img/icons_dark_theme/icon_cog.svg');
  }
  .gicon-question {
    background-image: url('../img/icons_dark_theme/icon_question.svg');
  }
  .gicon-explore {
    background-image: url('../img/icons_dark_theme/icon_explore.svg');
  }
  .gicon-shield {
    background-image: url('../img/icons_dark_theme/icon_shield.svg');
  }
}