@import "../../../../../../node_modules/angular-ui-tree/dist/angular-ui-tree.min.css";

.hidden {
    display: none!important;
    visibility: collapse!important;
}

.ts_blur {
   color: rgba(0,0,0,0.2);
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.ts_clickedMenu {
    background-color: rgba(23,255,255,0.2);
 }