@import '../../../../base/variables';

.ts-toolbar-component {
  position: relative;
  width: 100%;
  height: $ts-toolbar-height;

  background-image: linear-gradient(to bottom, rgba(#ecebeb, 1), rgba(#ffffff, 1));

  // fontss
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #1e88e5;

  .ts-toolbar-wrap {
    position: absolute;
    width: 100%;
    height: $ts-toolbar-height;

    white-space: nowrap;
    overflow: auto;
  }

  .reduct-btn {
    position: absolute;
    right: 4px;
    top: 4px;

    border-radius: 50%;
  }

  .ts-toolbar-items {
    line-height: $ts-toolbar-height;
  }

  .ts-toobar-link {
    display: inline-block;
    height: $ts-toolbar-item-height;

    border: 0;
    margin: 0 2px;

    i {
      margin-right: 4px;
    }
  }
}
